body{
    background-color: pink;
    font-family: Bal jamjuree;
}

#conteiner {
    display: flex;
}

.cartao{
    
}

footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width:100%;
    height:2 rem;
}

footer{
    text-align: center;
    font-style:0.0 rem;
    margin-top: 0,5 rem;
}